{% extends "clm/base.html" %}
{% load util_tags %}
{% load custom_tags %}
{% load static %}
{% load django_bootstrap5 %}

{% load simple_tags %}

{% block project_title %}Dashboard{% endblock %}
{% block module_name %}Dirasa - Dashboard{% endblock %}

{% block content %}

<style>
  .filter-package-type {
    cursor: pointer;
  }

</style>

<div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div>
                                    <div class="page-title-head center-elem page-title-heading">
                                        <span class="d-inline-block pr-2">
                                            <i class="pe-7s-display1"></i>
                                        </span>
                                        <span class="d-inline-block">Dashboard</span>
                                    </div>
                                </div>
                            </div>

                        </div>
</div>

<div class="row">

  {% if dashboard_url %}
  <iframe title="Dashboard" width="95%" height="600" src="{{ dashboard_url }}" frameborder="0" allowFullScreen="true"></iframe>
  {% else %}
  <div class="alert alert-info">
      {% if request.user.partner_id %}
      {% trans "No dashboard available for your account. Please contact an administrator." %}
      {% else %}
      {% trans "You do not have access to view this dashboard." %}
      {% endif %}
  </div>
  {% endif %}

</div>

{% endblock content %}
