{% load static i18n %}
{% load custom_tags %}
{% load util_tags %}
{% if record.registered_in_level %}
<button class="inline-flex items-center justify-center rounded-md px-4 py-2 text-sm font-medium transition-colors btn-warning detach-button" itemscope="{{ record.id }}" data-action="{{ column.attrs.url }}{{ record.id }}" translation="{% trans "Are you sure you want to detach this student?" %}">
{#    <i class="icon-trash icon-white"></i>#}
    {% trans "Detach" %}
</button>
{% else %}
    {% trans "Not allowed" %}
{% endif %}
