{% load static i18n %}
{% load custom_tags %}
{% load util_tags %}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

{% if record.is_justified %}
   <button class="inline-flex items-center justify-center rounded-md px-4 py-2 text-sm font-medium transition-colors bg-green-600 text-white hover:bg-green-700 justify-button-stopped" itemscope="{{ record.id }}" id="justify_button_{{ record.id }}" translation="{% trans "Are you sure you want to un justify this student ?" %}">
      <i class="fas fa-user-check icon-green"></i>&nbsp;&nbsp;
       <small>
         {% trans "Justified " %}
       </small>

   </button>
{% else %}
    <button class="inline-flex items-center justify-center rounded-md px-4 py-2 text-sm font-medium transition-colors bg-red-600 text-white hover:bg-red-700 justify-button" itemscope="{{ record.id }}" id="justify_button_{{ record.id }}" translation="{% trans "Are you sure you want to justify this student ?" %}">
      <i class="fas fa-user-alt-slash icon-red"></i>&nbsp;&nbsp;
       <small>
         {% trans "Not Justified " %}
       </small>

   </button>
{% endif %}

