# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.Python

# Virtual environments
nfe/
env/
venv/
staticfiles/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# IDEs
.idea/
.vscode/
