{% load static i18n %}
{% load custom_tags %}

{% load simple_tags %}
{% load util_tags %}
 <style>
    .right-align {
        text-align: right;
    }
    .dropdown-item i {
      margin-right: 5px;
    }
</style>

<div class="row staff-profile">
<!--Center Data-->
<div class="col-md-12 col-lg-12 col-xl-12">
    <div class="main-card mb-12 card">
        <div class="card-body">
            <h5 class="card-title" style="display: inline-block; margin-right: 10px;">Teachers List</h5>
              {% if request.user|has_group:"MSCC_CENTER" %}
                  <th>
                    <a href="{% url 'mscc:teacher_add' %}" data-toggle="tooltip" data-placement="top" data-original-title="Add Teacher." style="display: inline-block;"><i class="pe-7s-plus"></i></a>
                  </th>
              {% endif %}

            <table class="mb-0 table table-striped">
                <thead>
                <tr>
                    {% if request.user|has_group:"MSCC_CENTER" %}
                        <th>Actions</th>
                    {% endif %}
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Sex</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Subjects</th>
                    <th>Teaching Hours</th>
                </tr>
                </thead>
                <tbody>
                {% for teacher in teachers %}
                    <tr>
                        {% if request.user|has_group:"MSCC_CENTER" %}
                          <th>
                            <a href="{% url 'mscc:teacher_edit' teacher.id %}" data-toggle="tooltip" data-placement="top" data-original-title="Edit Teacher."><i class="pe-7s-pen"></i></a>
                          </th>
                        {% endif %}
                        <td> {{ teacher.first_name }} </td>
                        <td> {{ teacher.last_name }} </td>
                        <td> {{ teacher.sex }} </td>
                        <td> {{ teacher.primary_phone_number }} </td>
                        <td> {{ teacher.email }} </td>
                        <td>
                          {% for sub in teacher.subjects_provided %}
                              {{ sub }}<br>
                          {% endfor %}
                        </td>
                        <td> {{ teacher.teaching_hours_mscc }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>
