{% extends "base.html" %}
{% load util_tags %}
{% load custom_tags %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}

<section class="main-content-wrapper">
    <section id="main-content">
        <div class="title_left">
            <h3 style="color:#73879C;">{% trans 'Public documents' %}</h3>
        </div>
        <hr>

        <div class="flex flex-wrap -mx-3">
            {% for doc in documents %}
          <div class="col-sm-4">
            <div class="rounded-lg border border-gray-200 bg-white shadow-sm m-3">
              <div class="card-block">
                <h3 class="card-title">{{ doc.name }}</h3>
                <p class="card-text">{{ doc.overview }}</p>
                <p class="card-text">{{ doc.modified }}</p>
                <a href="{{ doc.file_url }}" class="inline-flex items-center justify-center rounded px-4 py-2 font-medium transition-colors bg-blue-600 text-white hover:bg-blue-700" target="_blank">{% trans 'Download file' %}</a>
              </div>
            </div>
          </div>
            {% endfor %}

        </div>

    </section>
</section>
{% endblock %}
