{% extends "mscc/base.html" %}
{% load util_tags %}
{% load custom_tags %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-4">
    <h2>{% if object %}{% trans "Edit Registration" %}{% else %}{% trans "New Registration" %}{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        <a href="{% url 'alp:registration_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
    </form>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" language="javascript" src="{% static 'js/alp/alp.js' %}"></script>
{% endblock %}
