{% load static i18n %}
{% load custom_tags %}
{% load simple_tags %}
{% load util_tags %}

<div class="dropdown table-actions-dropdown">
    <button class="btn btn-light border btn-actions dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-three-dots"></i> {% trans "Actions" %}
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow-sm">
        <li>
            <a class="dropdown-item" href="{% url 'mscc:child_profile' record.id %}">
                <i class="bi bi-person-bounding-box text-info"></i> {% trans "View Profile" %}
            </a>
        </li>
        {% if user|has_group:"MSCC_CENTER" and user.center %}
        <li>
            <a class="dropdown-item" href="{% url 'mscc:child_edit' record.id %}">
                <i class="bi bi-pencil-square text-primary"></i> {% trans "Edit Information" %}
            </a>
        </li>
        <li>
            <a class="dropdown-item delete-student text-danger" href="#" data-registration-id="{{ record.id }}">
                <i class="bi bi-trash"></i> {% trans "Delete Record" %}
            </a>
        </li>
        {% endif %}

    </ul>
</div>
