{% load static i18n %}
{% load custom_tags %}


{% load util_tags %}
{% if record.child_outreach %}
<span class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium badge-success align-text-bottom ml-1" style="padding: 10px 10px;">
  <i class="lnr-thumbs-up btn-icon-wrapper"> </i></span>
{% else %}
<span class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium badge-warning align-text-bottom ml-1" style="padding: 10px 10px;">
  <i class="lnr-thumbs-down btn-icon-wrapper"> </i></span>
{% endif %}
