{% load static i18n %}
{% load custom_tags %}


{% load util_tags %}
{% if record.type == 'Core-Package' %}
<span class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-semibold bg-blue-100 text-blue-700 align-text-bottom ml-1" style="padding: 10px 10px;">Core-Package</span>
{% endif %}

{% if record.type == 'Walk-in' %}
<span class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-semibold bg-red-100 text-red-700 align-text-bottom ml-1" style="padding: 10px 10px;">Walk-in</span>
{% endif %}
